moment==0.8.2
requests_html==0.10.0
nudepy==0.5
peewee==3.13.1
imgcat==0.4.0
requests==2.24.0
trio==0.13.0
stem==1.8.0
PyMySQL==0.9.3
pytesseract==0.3.3
asks==2.3.6
telepot==12.7
termcolor==1.1.0
retry==0.9.2
Pillow==8.1.1
